* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 48px;
    margin-top: 20px;
}

.resetDiv {
    padding: 50px;
    display: flex;
    gap: 50px;
}

.resetBtn,
.newGridBtn {
    font-size: 30px;
    padding: 20px 40px;
}

.container {
    border: 1px solid black;
    display: flex;
    height: 900px;
    width: 900px;
    flex-direction: column;
}

.divRow {
    display: flex;
    flex-grow: 1;
}

.divCol {
    /* border: 2px solid black; */
    flex-grow: 1;
}
